<div class="container-fluid height" id="admin">

	<% unless admin_signed_in? %>
			<%= render '/admin/login' %>
	<% end %>

	<% if admin_signed_in? %>
		<div class="background row">
			<table>
				<thead>
					<tr>
						<th class="col-xs-12" colspan="3"><h3>Mailing list</h3></th>
					</tr>
				  <tr>
				    <th class="emailcol">Email</th>
				    <th>Name</th> 
				    <th class="linkcol">Links</th>
			  	</tr>
			  </thead>
			  <tbody>
			  	<% @emails.each do |email| %>
						<tr>
							<td class="emailcol"><%= email.email%></td>
							<td><%= email.name%></td>
							<td class="linkcol">
            			<%= link_to 'Edit', edit_email_path(email) %>
            			<div class="vertical"></div>
            			<%= link_to 'Delete', email_path(:id => email.id), :method => :delete, :confirm => "Are you sure?" %>
       		 			</td>
						</tr>
					<% end %>	
				</tbody>
			</table>
		</div>
	<% end %>

</div>