<div class="container-fluid height admin">
	<!-- <div > -->
	<% unless admin_signed_in? %>
			<%= render '/admin/login' %>
	<% end %>

	<% if admin_signed_in? %>
		<style>
			#admin {
				padding-top: 90px;
			}
		</style>
		<div class="links col-md-12 no-gutters">
			<ul class="no-gutters">
				<li class="col-md-4 col-sm-4 col-xs-4 no-gutters color hover" id="link1">Emails</li>
				<li class="col-md-4 col-sm-4 col-xs-4 no-gutters color" id="link2">Calendar</li>
				<li class="col-md-4 col-sm-4 col-xs-4 no-gutters color" id="link3">Payments</li>
			</ul>
		</div>
		<div id="admin1" class="hidepages">
			<div class="background row emaillist">
				<table>
					<thead>
						<tr>
							<th class="col-xs-12" colspan="3"><h3>Mailing list</h3></th>
						</tr>
					  <tr>
					    <th class="emailcol">Email</th>
					    <th class="hide600">Name</th> 
					    <th class="linkcol">Links</th>
				  	</tr>
				  </thead>
				  <tbody>
				  	<% @listemails.each do |email| %>
							<tr>
								<td class="emailcol"><%= email.email%></td>
								<td class="hide600"><%= email.name%></td>
								<td class="linkcol">
	            			<%= link_to 'Edit', edit_email_path(email) %>
	            			<div class="vertical"></div>
	            			<%= link_to 'Delete', @email = email, :method => :delete, :confirm => "Are you sure?" %>
	       		 			</td>
							</tr>
						<% end %>	
					</tbody>
				</table>
			</div>
			<!-- <br> -->
			<div class="background row copyemails">

				<p id="copyme">
					<%= @singlecopy %>
				</p>

				<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#copyme">
				   Copy email list to clipboard
				</button>
			</div>
		</div>
		<div id="admin2" class="hidepages"></div>
		<div id="admin3" class="hidepages"></div>

	<% end %>
<!-- </div> -->
</div>