<div class="container-fluid height admin">
	<% unless admin_signed_in? %>
			<%= render '/admin/login' %>
	<% end %>

	<% if admin_signed_in? %>
		<div class="links col-md-12 no-gutters">
			<ul class="no-gutters">
				<li class="col-md-4 col-sm-4 col-xs-4 no-gutters color hover" id="link1">Event Management</li>
				<li class="col-md-4 col-sm-4 col-xs-4 no-gutters color" id="link2">Calendar</li>
				<li class="col-md-4 col-sm-4 col-xs-4 no-gutters color" id="link3">Email List</li>
			</ul>
		</div>



		<!------- Email and Event Management page ------->



		<div id="admin1" class=" col-md-12 hidepages">
			<div class="row heading">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<h4>Upcoming Events</h4>
				</div>
				<div class="col-md-4 left">

				<!-- 	<#%= link_to new_event_path, :date =>' require?', :location => ' require?', :type => ' require?', :type => ' require?', :length => ' require?' do %>
				 		<button>New Event</button>
				 	<#% end %>  -->

				</div>
				
			</div>
			<div class="no-gutters events">
				<div class="background row">
				 	<p>Carnegie Hall</p>
				 	<p>Dec. 22nd</p>
				 	<%= link_to edit_event_path(@events) do %> 
				 		<button>Edit Event</button>
				 	<% end %> 
				</div>
				<% @events.each do |event| %>
					<div class="background row">
						<p><%= event.title%></p>
						<p><%= event.date.to_time.strftime('%a %b %d, %Y')%></p>
						<%= link_to event_path(event) do %> 
						<button>Show</button>
						<% end %>|
						<%= link_to edit_event_path(event) do %> 
				 			<button>Edit</button>
				 		<% end %> 
					</div>
				<% end %>
				<%= image_tag image_url('https://s3.amazonaws.com/velveteenensemble/nofillarrow.png') %>
			</div>
			<hr>
		<!-- 	<div class="row heading2">
				<h4>Clients</h4>
			</div> -->
<!-- 			<div class="no-gutters customers">
				
				<div class="background row">
				 	<p>Marcel Krasner</p>
				 	<p>marcelkrasner@gmail.com</p>
				 		<#%= link_to customer_path(@customers) do %> 
				 		<button>Go To Client Page</button>
				 	<#% end %> 
				</div>
				<#% @customers.each do |customer| %>
				 	<div class="background row">
				 		<p><#%= customer.fname%></p>
				 		<p><#%= customer.email%></p>
				 		<#%= link_to customer_path(customer) do %> 
				 		<button>Edit Event</button>
				 		<#% end %> 
				 	</div>
				<#% end %>

				<#%= image_tag image_url('https://s3.amazonaws.com/velveteenensemble/nofillarrow.png') %>
			</div> -->
			<!-- <hr> -->
			<div class="col-md-12 no-gutters contacts">
				<div class="row">
					<h4>Emails</h4>
				</div>
				 <% @contacts.order('created_at DESC').each do |contact| %>
				 	<div class="background">
				 		<div class="row">
				 			<div class="col-md-6">
				 				<p><b><%= contact.fname %>   &nbsp&nbsp<%= contact.lname %></b></p>
				 			</div>
				 			<div class="col-md-6">
				 				<p class=" dates row"><b> Event Date: <%= contact.eventdate.strftime("%B %d, %Y") %></b></p>
				 				<p class="emaildate dates row">Email Sent: <%= contact.created_at.strftime("%B %d, %Y")%></p>
				 				
				 			</div>
				 		</div>
				 		<p class="message"><%= contact.message %></p>
				 		<br>
				 		<div class="row no-gutters">
					 		<div class="col-md-4"></div>
					 		<div class="col-md-4">

						 	<%= link_to new_event_path(date: contact.eventdate, location: contact.eventlocation, event_type: contact.event_type, other_type: contact.other_type, length: contact.length, contact_id: contact.id, fname: contact.fname, lname: contact.lname, email: contact.email, phone: contact.phone, message: contact.message) do %>
						 			<button>Add as an Event</button>
						 		<% end %>


						 	<!-- 	<a href='<#%= new_event_path(date: event.eventdate, location: event.eventlocation, type: event.type, type: event.type, length: event.length) %>'>
  								<h2>Add event</h2>
								</a> -->



					 		</div>
					 		<div class="col-md-4 deletecontact">
	       			 	<!-- <#%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' } %> -->

	       			 	<!-- <#%= form_for(contact, edit_path(contact), remote: true) do |f| %> -->
							    <!-- <div><#%= f.hidden_field :contact_id %></div> -->
							    <!-- <div><#%= f.hidden_field :hidden, :value => true %></div> -->
							    <!-- <#%= f.submit "Remove", class: "btn btn-large btn-primary" %> -->
							<!-- <#% end %> -->

	     			 	</div>




     			 	</div>
				 		
				 		<br>
				 		
				 		
				 		<br>
				 	</div>
				 <% end %>
			</div>

		</div>



		<!------- Calendar page ------->



		<div id="admin2" class="col-md-12 no-gutters hidepages">
			<div class="row no-gutters calendar">
				<!-- <iframe src="https://calendar.google.com/calendar/embed?title=Velveteen%20Ensemble&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=velveteenensemble.com_mh8rm5olauqbct9squ4v6uka30%40group.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" height="600px" frameborder="0" scrolling="no"> -->
				</iframe>
			</div>
		</div>



		<!------- Email List page ------->



		<div id="admin3" class="col-md-12 hidepages">
			<div class="background row emaillist">
				<table>
					<thead>
						<tr>
							<th class="col-xs-12" colspan="3"><h3>Mailing list</h3></th>
						</tr>
					  <tr>
					    <th class="emailcol">Email</th>
					    <!-- <th class="hide600">Name</th>  -->
					    <!-- <th class="linkcol">Links</th> -->
				  	</tr>
				  </thead>
				  <tbody>
				  	<% @singlelist.each do |list| %>
							<tr>
								<td class="emailcol"><%= list %></td>
								<!-- <td class="hide600"><#%= event.fname%></td> -->
								<!-- <td class="linkcol">
	            			<#%= link_to 'Edit', edit_email_path(email) %>
	            			<div class="vertical"></div>
	            			<#%= link_to 'Delete', @email = email, :method => :delete, :confirm => "Are you sure?" %>
	       		 			</td> -->
							</tr>
						<% end %>	
					</tbody>
				</table>
			</div>
			<div class="background row copyemails">

				<p id="copyme">
					<%= @singlecopy %>
				</p>

				<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#copyme">
				   Copy email list to clipboard
				</button>
			</div>
		</div>
	<% end %>
</div>