<title>Velveteen Ensemble - Book Musicians for your event</title>
<div class="container-fluid height" id="home">
	
	<div class="col-md-12 col-sm-12 col-xs-12 no-gutters home1">
		<div class="row">
			<ul>
				<a href="/venues#section1" class="listone"><li>Weddings</li></a>
				<a href="/venues#section2" class="listtwo"><li>Concerts & Tours</li></a>
				<a href="/venues#section3" class="listthree"><li>Corporate Events</li></a>
				<a href="/venues#section4" class="listfour"><li>Recordings</li></a>
			</ul>
			<div class="fadeimage">
				<a href="https://www.airbnb.com/experiences/773596?source=booking_widget" class="loopOne img" target= "_blank" >
						<%= image_tag image_url('https://velveteenensemble.s3.amazonaws.com/Airbnbvelveteen2.png'), :id => "airbnb" %>
				</a>
				<div class="img loopTwo" ></div>
				<div class="img loopThree" ></div>
				<div class="img loopFour" ></div>
				<div class="img loopFive" ></div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12 no-gutters home2">
		<div class="row no-gutters title">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<a href="https://www.instagram.com/velveteenensemble/" target="_blank"><%=image_tag image_url("https://d3ffc7oj6uo4uj.cloudfront.net/blinsta.png")%></a>
				<a href="https://www.facebook.com/VelveteenEnsemble/" target="_blank"><%=image_tag image_url("https://d3ffc7oj6uo4uj.cloudfront.net/blfb.png")%></a>
				<a href="https://www.youtube.com/watch?v=Rtennabdzlc&t=21s" target="_blank"><%=image_tag image_url("https://d3ffc7oj6uo4uj.cloudfront.net/blyt2.png")%></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<h2>Newsfeed</h2>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4"></div>
		</div>
		<hr>
		<div class="row background news" id="news1"></div>
		<hr>
		<div class="row background news" id="news2"></div>
		<hr>
		<div class="row background news" id="news3"></div>
		<hr>
		<div class="row background news" id="news4"></div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12 no-gutters home3">
		<div class="background contactform">
			<h2>Contact us to request info or to inquire about availability</h2>
			<%= render '/contacts/form', contact: @contact %>
		</div>
	</div>
</div>


<script>
  			var feed = new Instafeed({
					target: "news1",
	        get: 'user',
	        userId: '<%= ENV['USER_ID'] %>',
	        // get: 'tagged',
        	// tagName: 'velveteenensemble',
	        accessToken: '<%= ENV['ACCESS_TOKEN'] %>',
	        clientId: '<%= ENV['CLIENT_ID'] %>',
	        limit: 1,
	        sortBy: 'most-recent',
	        resolution: 'standard_resolution',
	        template: '<div class="col-md-12 col-sm-12 col-xs-12"><div class="col-md-5 col-sm-5 col-xs-5"><a href="{{link}}" target="_blank"><div id="img1" class="img" style="background-image:url({{image}})"></div></a></div><div class="col-md-7 col-sm-7 col-xs-7"><h3>{{location}}</h3><p>{{caption}}</p></div></div>',
	        links: true,
	        mock: false,
	        useHttp: false
	    	});

	    	var feed2 = new Instafeed({
					target: "news2",
	        get: 'user',
	        userId: '<%= ENV['USER_ID'] %>',
	        // get: 'tagged',
        	// tagName: 'velveteenensemble',
	        accessToken: '<%= ENV['ACCESS_TOKEN'] %>',
	        clientId: '<%= ENV['CLIENT_ID'] %>',
	        limit: 2,
	        sortBy: 'most-recent',
	        resolution: 'standard_resolution',
	        template: '<div class="hide2 col-md-12 col-sm-12 col-xs-12"><div class="col-md-7 col-sm-7 col-xs-7"><h3>{{location}}</h3><p>{{caption}}</p></div><div class="col-md-5 col-sm-5 col-xs-5"><a href="{{link}}" target="_blank"><div id="img2" class="img" style="background-image:url({{image}})"></div></a></div></div>',
					links: true,
	        mock: false,
	        useHttp: false
	    	});

	    	var feed3 = new Instafeed({
					target: "news3",
	        get: 'user',
	        userId: '<%= ENV['USER_ID'] %>',
	        // get: 'tagged',
        	// tagName: 'velveteenensemble',
	        accessToken: '<%= ENV['ACCESS_TOKEN'] %>',
	        clientId: '<%= ENV['CLIENT_ID'] %>',
	        limit: 3,
	        sortBy: 'most-recent',
	        resolution: 'standard_resolution',
	        template: '<div class="hide3 col-md-12 col-sm-12 col-xs-12"><div class="col-md-5 col-sm-5 col-xs-5"><a href="{{link}}" target="_blank"><div id="img3" class="img" style="background-image:url({{image}})"></div></a></div><div class="col-md-7 col-sm-7 col-xs-7"><h3>{{location}}</h3><p>{{caption}}</p></div></div>',
	        links: true,
	        mock: false,
	        useHttp: false
	    	});

	    	var feed4 = new Instafeed({
					target: "news4",
	        get: 'user',
	        userId: '<%= ENV['USER_ID'] %>',
	        // get: 'tagged',
        	// tagName: 'velveteenensemble',
	        accessToken: '<%= ENV['ACCESS_TOKEN'] %>',
	        clientId: '<%= ENV['CLIENT_ID'] %>',
	        sortBy: 'most-recent',
	        limit: 4,
	        resolution: 'standard_resolution',
	        template: '<div class="hide4 col-md-12 col-sm-12 col-xs-12"><div class="col-md-7 col-sm-7 col-xs-7"><h3>{{location}}</h3><p>{{caption}}</p></div><div class="col-md-5 col-sm-5 col-xs-5"><a href="{{link}}" target="_blank"><div id="img4" class="img" style="background-image:url({{image}})"></div></a></div></div>',
	        links: true,
	        mock: false,
	        useHttp: false
	    	});

			  feed.run();
			  feed2.run();
			  feed3.run();
			  feed4.run();

			</script>
