<%= form_for @event do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <!-- <#%= form.date_select :date, id: :event_date, value: @event_date %> -->
    <input type='select_date' id='event_date' value='<%=@event_date%>' name='date' />
  </div>

  <div class="field">
    <%= form.label :location %>
    <!-- <#%= form.text_field :location, id: :event_location, value: @location %> -->
    <input type='text' id='event_location' value='<%=@location%>' name='location' />
  </div>

  <div class="field padright">
    <%= form.label :type, "Event Type" %>
    <%= form.select :type, options_for_select(["Wedding","Corporate Event", "Concert", "Recording", "Other"]), :prompt => 'Select one', :id => "event_type", required: false  %>

   <br>
    <%= form.text_field :type, :id => "other_newevent_type", :placeholder => "Other event type", :style => "display: none", required: false  %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <!-- <#%= form.text_field :length, id: :event_length, value: :@length %> -->
     <input type='text' id='event_length' value='<%=@length%>' name='length' />
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :event_amount %>
  </div>

  <div class="field">
    <%= form.label :deposit %>
    <%= form.number_field :deposit, id: :event_deposit %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.number_field :subtotal, id: :event_subtotal  %>
  </div>

  <div class="field">
    <%= form.label :deposit_paid %>
    <%= form.check_box :deposit_paid, id: :event_deposit_paid %>
  </div>

  <div class="field">
    <%= form.label :total_paid %>
    <%= form.check_box :total_paid, id: :event_total_paid %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id, id: :event_customer_id %>
  </div>
  <div class="field">
    <%= form.label :contact_id %>
    <%= form.number_field :contact_ids, id: :event_contact_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
