<%= form_for @event do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :event_date, :selected => @event_date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :event_location, :value =>  @location %>

  </div>

  <div class="field padright">
    <%= form.label :type, "Event Type" %>
    <%= form.select :type, options_for_select(["Wedding","Corporate Event", "Concert", "Recording", "Other"]), :prompt => 'Select one', :id => "event_type", required: false, :selected => @type, :value => @type %>

   <br>
    <%= form.text_field :type, :id => "other_newevent_type", :placeholder => "Other event type", :style => "display: none", required: false, :value => @type %>
  </div>

  <div class="field">
    <%= form.label :length %>
     <%= form.select :length, [ "1 hour","1.5 hours","2 hours", "2.5 hours", "3 hours", "3.5 hours", "4 hours", "Over 4 hours" ], :prompt => 'Select one', :selected => @length %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :event_amount %>
  </div>

  <div class="field">
    <%= form.label :deposit %>
    <%= form.number_field :deposit, id: :event_deposit %>
  </div>



  <script>
    $(function() {
      $("#event_amount, #event_deposit").keyup(function() {
        var a = $("#event_amount").val();
        var d = $("#event_deposit").val();
        $("#event_subtotal").val(a - d);
      });
    });
  </script>



  <div class="field">
    <%= form.label :subtotal %>
    <%= form.number_field :subtotal, id: :event_subtotal  %>
  </div>

  <div class="field">
    <%= form.label :deposit_paid %>
    <%= form.check_box :deposit_paid, id: :event_deposit_paid %>
  </div>

  <div class="field">
    <%= form.label :total_paid %>
    <%= form.check_box :total_paid, id: :event_total_paid %>
  </div>

<hr>

  <div class="field">
    <%= form.label :fname %>
    <%= form.text_field :fname, id: :customer_fname, :value => @fname  %>
  </div>

  <div class="field">
    <%= form.label :lname %>
    <%= form.text_field :lname, id: :customer_lname, :value => @lname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :customer_email, :value => @email %>
     <!-- <input type='text' id='event_email' value='<%=@email%>' name='email' /> -->
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :customer_phone, :value => @phone  %>
     <!-- <input type='text' id='event_phone' value='<%=@phone%>' name='phone' /> -->
  </div>

  <div class="field" >
    <%= form.label :city %>
    <%= form.select :length, [ "New York City","Los Angeles","Miami"] %>

   <!--  <select id='customer_city' name='city'>
      <option value="New York City">New York City</option>
      <option value="Los Angeles">Los Angeles</option>
      <option value="Miami">Miami</option>
    </select> -->
  </div>
   

  <div class="field" >
    <%= form.label :contact_id %>
     <!-- < input type='integer' id='event_contact_id' value='<%=@contact_id%>' name='Contact_id' /> -->
    <%= form.number_field :contact_ids, id: :contact_id, :value => @contact_id  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
