
<div class= "container-fluid height" id="songs">
	<% if admin_signed_in? %>
		<div class="row newsong">
			<div class="background">
				<b><%= link_to 'Add New Song', new_song_path %></b>
			</div>
		</div>
	<% end %>
		<table>
			<thead>
				<tr>
					<th class="col-xs-12" colspan="4"><h3>Sample Music</h3></th>
				</tr>
			  <tr>
			    <th class="smallcol">Title</th>
			    <th class="smallcol hide410">Artist</th> 
			    <th class="smallcol mobilehide">Genre</th>
			    <th class="widecol hide410"></th>
			    <% if admin_signed_in? %>
        		<th class="smallcol"></th>
      		<% end %>
		  	</tr>
		  </thead>
		  <tbody>
					
					 <% @songs.where( play: true ).each do |song| %>
					  <tr class="hover">
							<td><%= song.title%></td>
							<td class="hide410"><%= song.artist%></td> 
							<td class="mobilehide"><%= song.genre%></td>
							<td class="widecol">
								<audio controls preload="none" controlsList="nodownload"  height="20px"> 
								   <source src="<%= song.file%>" type="audio/mpeg">
								</audio>

							</td>
							<% if admin_signed_in? %>
          			<td>
            			<%= link_to 'Edit', edit_song_path(song) %>
            			<div class="vertical"></div>
            			<%= link_to 'Delete', song, :method => :delete, :confirm => "Are you sure?" %>
       		 			</td>
      				<% end %>
						</tr>
						
						<% end %>
						
			</tbody>
		</table>
	<br><br><br>
	<div class="row">
		<table id="listsongs" scrolling="yes">
				<thead>
					<tr>
						<th colspan="4"><h4>Song list for String Quartet (Two violins, viola and cello)</h4></th>
					</tr>
					<tr>
						<th colspan="4"><h5> Please do not hesitate to request songs that are not on this list.  We will personally arrange any request.</h5></th>
					</tr>
				  <tr>
				    <th>Title</th>
				    <th>Artist/Composer</th> 
				    <% if admin_signed_in? %>
          		<th></th>
      			<% end %>
			  	</tr>
			  </thead>
			  <tbody>
						
						 <% @songs.where( genre: [nil, true] ).each do |song| %>
						  <tr>
								<td><%= song.title%></td>
								<td><%= song.artist%></td> 
								<% if admin_signed_in? %>
	          			<td>
	            			<%= link_to 'Edit', edit_song_path(song) %>
	            			<div class="vertical"></div>
	            			<%= link_to 'Delete', song, :method => :delete, :confirm => "Are you sure?" %>
	       		 			</td>
      					<% end %>
							</tr>	
							<% end %>
					
				</tbody>
			</table>
		</div>
</div>

