<div id="venues" class="container-fluid height">
    <h1>Venues</h1>
    <div id="weddingplaceholder"></div>
    <% @venues.each do |venue| %>
      
      <div class="row no-gutters venue" id="venue_<%= venue.id %>">
        <div class="spacing"></div>
        <div class="col-md-12">
          <div class="background">
            <div class="row no-gutters title">
              <h2><%= venue.title %></h2>
            </div>
            <hr>
            <div class="row">
              <p><%= venue.bio %></p>
            </div>
            <div class="row clients">
              <% venue.clients.each do |client| %>
                <div class="eachclient">
                  <img src="<%= client.name %>">
                </div>
              <% end %>
            </div>
            <div class="row">
              <iframe src="<%= venue.video1 %>" allowTransparency="true" allowFullScreen="true" class="video"></iframe>
              <iframe src="<%= venue.video2 %>" allowTransparency="true" allowFullScreen="true" class="video"></iframe>
              <iframe src="<%= venue.video3 %>" allowTransparency="true" allowFullScreen="true" class="video"></iframe>
            </div>
            <div class="row">
              <!-- <#%= link_to 'Edit', edit_venue_path(venue) %> -->
            </div>
          </div>

          
        </div>
      </div>
      <style>
        #venue_<%= venue.id %> {
          background-image: url("<%= venue.name %>");
        }
      </style>
    <% end %>
</div>