<p id="notice"><%= notice %></p>
<div id="venues">
    <div class="col-md-12" >
      <div class="row">
        <h1>Venues</h1>
      </div>
    </div>
    <% @venues.each do |venue| %>
      <div class="row no-gutters venue" id="venue_<%= venue.id %>">
        <div class="spacing"></div>
        <div class="col-md-12">
          <div class="background">
            <div class="row">
              <h2><%= venue.title %></h2>
            </div> 
            <div class="row">
              <p><%= venue.bio %></p>
            </div>
          </div>
        </div>
      </div>
      <style>
        #venue_<%= venue.id %> {
          background-image: url("<%= venue.name %>");
        }
      </style>
    <% end %>
</div>