<head>
  <title>Velveteen Ensemble Popular Events We Are Hired To Perform For</title>
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '433933810863059'); 
  fbq('track', 'PageView');
  </script>
  <noscript>
   <img height="1" width="1" 
  src="https://www.facebook.com/tr?id=433933810863059&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
</head>
<div id="venues" class="container-fluid height">
    <h1>Venues</h1>
    
    <% @venues.each do |venue| %>
      
      <div class="row no-gutters venue" id="venue_<%= venue.id %>">
        <div class="col-md-12">
          <div class="background">
            <div id="section<%= venue.id %>" class="placeholder"></div>
            <div class="row no-gutters title">
              <h2><%= venue.title %></h2>
            </div>
            <hr>
            <div class="row">
              <p>
                <%= venue.bio %>

                <% if admin_signed_in? %>
                  <div class="edit">
                <%= link_to 'Edit', edit_venue_path(venue) %>
              
              </p>

              

              </div>
            <% end %>
            </div>
            <div class="row clients">
              <% venue.clients.each do |client| %>
                <div class="eachclient">
                  <img src="<%= client.name %>">
                </div>
              <% end %>
            </div>
            <div class="row venuevideos">
              <iframe src="<%= venue.video1 %>" allowTransparency="true" allowFullScreen="true" class="video video1"></iframe>
              <iframe src="<%= venue.video2 %>" allowTransparency="true" allowFullScreen="true" class="video video2"></iframe>
              <iframe src="<%= venue.video3 %>" allowTransparency="true" allowFullScreen="true" class="video video3"></iframe>
              <% if (venue.video1 == nil && venue.video2 == nil && venue.video3 == nil)%>
                <style>
                  #venue_<%= venue.id %> .venuevideos {
                    display: none;
                  }
                  #venue_<%= venue.id %> .clients .eachclient {
                    margin: 0 auto 20px auto !important;
                  }
                </style>
              <% end %>
              <% if venue.video1 == nil %>
                <style>
                  #venue_<%= venue.id %> .video1 {
                    display: none;
                  }
                  #venue_<%= venue.id %> .video {
                    width: 40% !important;
                  }
                </style>
              <% end %>
              <% if venue.video2 == nil %>
                <style>
                  #venue_<%= venue.id %> .video2 {
                    display: none;
                  }
                  #venue_<%= venue.id %> .video {
                    width: 40% !important;
                  }
                </style>
              <% end %>
              <% if venue.video3 == nil %>
                <style>
                  #venue_<%= venue.id %> .video3 {
                    display: none;
                  }
                  #venue_<%= venue.id %> .video {
                    width: 40% !important;
                  }
                </style>
              <% end %>
            </div>
            
          </div>

          
        </div>
      </div>
      <style>
        #venue_<%= venue.id %> {
          background-image: url("<%= venue.name %>");
        }
      </style>
    <% end %>
</div>