<%= form_for @contact do |f| %>
    <%= f.label :fname, 'First Name (required) *' %> 
    <%= f.text_field :fname, required: true %>
    <br>
    <%= f.label :lname, 'Last Name (required) *' %> 
    <%= f.text_field :lname, required: true %>
    <br>
    <%= f.label :email, 'Email (required) *' %>
    <%= f.text_field :email, required: true %>
    <br>
    <%= f.label :phone, 'Phone No.' %>
    <%= f.telephone_field :phone, required: false %>
    <br>
    <%= f.label :eventdate, 'Event Date (required) *' %>
    <%= f.date_field :eventdate, required: true %>
    <br>
    <div class="messagebox">
        <%= f.label :message, 'Message (required) *',:class => "messagelabel"%>
        <%= f.text_area :message, as: :text, required: true %>
    </div>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <%= f.label :eventlocation, 'Event Location' %>
    <%= f.text_field :eventlocation, required: false %>
    <br>
    <%= f.label :length, "Event Length" %>
    <%= f.select :length, [ "1 hour","1.5 hours","2 hours", "2.5 hours", "3 hours", "3.5 hours", "4 hours", "Over 4 hours" ], :prompt => 'Select one', required: false %>
    <br>

    <%= f.label :event_type, "Event Type" %>

    <%= f.select :event_type, ["Wedding","Corporate Event", "Concert", "Recording", "Other"], :prompt => 'Select one', :id => "contact_type", required: false %>

   <br>
    <%= f.text_field :other_type, :id => "other_type", :placeholder => "Other event type", :style => "display: none", required: false %>
    <br>
    <div class="heardby">
        <%= f.label :heardby, "Where did you hear about us?" %>

        <%= f.select :heardby, options_for_select(["WeddingWire","The Knot", "GigMasters", "Instagram", "Facebook", "Google", "Other"]), :prompt => 'Select one', :id => "heard_by", required: false %>
        <br>
        <%= f.text_field :heardby, :id => "other_heardby", :style => "display: none", required: false %>
    </div>
    <br>
   

  <div class="nickname">
    <%= f.label :nickname %> <br>
    <%= f.text_field :nickname, hint: 'leave this field blank', required: false %>
  </div>

    <%= f.submit 'Send Message', class: "button" %>
  <% end %>