<%= form_for @contact do |f| %>
    <%= f.label :name, 'Name (required) *' %> 
    <%= f.text_field :name, required: true %>
    <br>
    <%= f.label :email, 'Email (required) *' %>
    <%= f.text_field :email, required: true %>
    <br>
    <%= f.label :phone, 'Phone No.' %>
    <%= f.telephone_field :phone, required: false %>
    <br>
    <%= f.label :eventdate, 'Event Date' %>
    <%= f.date_field :eventdate, required: true %>
    <br>
    <%= f.label :eventlocation, 'Event Location' %>
    <%= f.text_field :eventlocation, required: false %>
    <br>
    <%= f.label :length, "Event Length" %>
    <%= f.select :length, [ "1 hour","1.5 hours","2 hours", "2.5 hours", "3 hours", "3.5 hours", "4 hours", "Over 4 hours" ], :prompt => 'Select one', required: false %>
    <br>

    <%= f.label :type, "Event Type" %>

   <%= f.select :type options_for_select([["Wedding", "Wedding"],["Corporate Event", "Corporate Event"],["Concert", "Concert"],["Recording", "Recording"],["Other", "Other"]]), :prompt => 'Select one', :id => "type", required: false %>

   <br>

   <div id="othertype" style="display: none">
        <%= f.label :othertype, "Other Event Type:" %>
        <%= f.text_field :othertype, required: false %>
    </div>

    <br>
    <div class="messagebox">
        <%= f.label :message, :class => "messagelabel"%>
        <%= f.text_area :message, as: :text %>
    </div>

  <div class="nickname">
    <%= f.label :nickname %> <br>
    <%= f.text_field :nickname, hint: 'leave this field blank' %>
  </div>

    <%= f.submit 'Send Message', class: "button" %>
  <% end %>