<%= form_for @contact do |f| %>
    <% if flash[:error].present? %>
        <p> flash[:error]</p>
    <% end %>
    <%= f.label :name, 'Name (required) *' %> 
    <%= f.text_field :name, required: true %>
    <br>
    <%= f.label :email, 'Email (required) *' %>
    <%= f.text_field :email, required: true %>
    <br>
    <%= f.label :phone, 'Phone No.' %>
    <%= f.telephone_field :phone, required: false %>
    <br>
    <%= f.label :eventdate, 'Event Date' %>
    <%= f.date_field :eventdate, required: false %>
    <br>
    <%= f.label :eventlocation, 'Event Location' %>
    <%= f.text_field :eventlocation, required: false %>
    <br>
    <%= f.label :length, "Event Length" %>
    <%= f.select :length, [ "1 hour","1.5 hours","2 hours", "2.5 hours", "3 hours", "3.5 hours", "4 hours", "Over 4 hours" ], :prompt => 'Select one' %>
    <br>

     <%= f.label :type, "Event Type" %>

    <!--  For some reason the rail tag isnt working?? -> come back to at later date -->
       <!--  <#%= f.select :type, ["Wedding","Corporate Event", "Concert","Recording","Other"], :prompt => 'Select one', :id => "type" %> -->
   


    <select class="type" name="type" >   
        <option>Select One</option>   
        <option value="Wedding">Wedding</option>   
        <option value="Concert">Concert</option>   
        <option value="Corporate Event">Corporate Event</option>   
        <option value="Recording">Recording Session</option> 
        <option value="Other">Other</option>   
    </select>   

   <br>

   <div class="other" style="display: none">
        <%= f.label :type, "Other event type:"%>
        <%= f.text_field :type, label: "Other" %>
    </div>

    <br>
    <div class="messagebox">
        <%= f.label :message, :class => "messagelabel"%>
        <%= f.text_area :message, as: :text %>
    </div>

  <div class="nickname">
    <%= f.label :nickname %> <br>
    <%= f.text_field :nickname, hint: 'leave this field blank' %>
  </div>

    <%= f.submit 'Send Message', class: "button" %>
  <% end %>