<%= form_for @contact do |f| %>
    <%= f.label :name, 'Name (required) *' %> 
    <%= f.text_field :name, required: true %>
    <br>
    <%= f.label :email, 'Email (required) *' %>
    <%= f.text_field :email, required: true %>
    <br>
    <%= f.label :phone, 'Phone No.' %>
    <%= f.telephone_field :phone, required: false %>
    <br>
    <%= f.label :eventdate, 'Event Date (required) *' %>
    <%= f.date_field :eventdate, required: true %>
    <br>
    <%= f.label :eventlocation, 'Event Location' %>
    <%= f.text_field :eventlocation, required: false %>
    <br>
    <%= f.label :length, "Event Length" %>
    <%= f.select :length, [ "1 hour","1.5 hours","2 hours", "2.5 hours", "3 hours", "3.5 hours", "4 hours", "Over 4 hours" ], :prompt => 'Select one', required: false %>
    <br>

    <%= f.label :type, "Event Type" %>

    <%= f.select :type, options_for_select(["Wedding","Corporate Event", "Concert", "Recording", "Other"]), :prompt => 'Select one', :id => "type", required: false %>

   <br>
    <%= f.text_field :type, :id => "othertype", :style => "display: none", required: false %>
    <br>
    <%= f.label :heardby, "Where did you hear about us:" %>

    <%= f.select :heardby, options_for_select(["WeddingWire","The Knot", "GigMasters", "Instagram", "Facebook", "Google", "Other"]), :prompt => 'Select one', :id => "heard_by", required: false %>
    <br>
    <%= f.text_field :heardby, :id => "other_heard_by", :style => "display: none", required: false %>
    </div>
    <br>
    <div class="messagebox">
        <%= f.label :message, :class => "messagelabel"%>
        <%= f.text_area :message, as: :text %>
    </div>

  <div class="nickname">
    <%= f.label :nickname %> <br>
    <%= f.text_field :nickname, hint: 'leave this field blank' %>
  </div>

    <%= f.submit 'Send Message', class: "button" %>
  <% end %>