<div id="about" class="row no-gutters">
  <div class="spacing ">
    <h1>About</h1>
  </div>
  <div class="col-md-3">
    <!-- <div class="row no-gutters"> -->
      <% @musicians.each do |musician| %>
        <div class="row no-gutters eachmusician" >
          <div class="col-md-6">
            <div class="row no-gutters musicianpic" id="musician_<%= musician.id %>">
            </div>
          </div>
          <div class="col-md-6">
            <div class="row no-gutters">
              <h4><%= musician.fname %></h4>
            </div>
            <div class="row no-gutters">
              <h4><%= musician.lname %></h4>
            </div>
            <div class="row no-gutters">
              <h5><%= musician.instrument %></h5>
            </div>
          </div>
        </div>
        <style>
          #musician_<%= musician.id %> {
            background-image: url("<%= musician.name %>");
          }
        </style>
      <% end %>
    <!-- </div> -->
  </div>
  <div class="col-md-9">
    <div class="row no-gutters background">
      <% @abouts.each do |about| %>
        <div class="row no-gutters" >
          <p><%= about.bio %></p>
          <%= link_to 'Edit', edit_about_path(about) %>
        </div>
      <% end %>
    </div>
  </div>
  

</div>




