<div id="about" class="row no-gutters">
  <div id="aboutbox" class="background">
    <div class="row no-gutters title">
      <div class="col-md-4">
        <a href="https://www.instagram.com/velveteenensemble/" target="_blank"><%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/blinsta.png")%></a>
        <a href="https://www.facebook.com/VelveteenEnsemble/" target="_blank"><%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/blfb.png")%></a>
        <a href="https://www.youtube.com/watch?v=Rtennabdzlc&t=21s" target="_blank"><%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/blyt2.png")%></a>
      </div>
      <div class="col-md-4">
        <a href="https://www.instagram.com/velveteenensemble/" target="_blank" class="center"><h2>About Us</h2></a>
      </div>
      <div class="col-md-4"></div>
    </div>
    <%= image_tag image_url("https://s3.amazonaws.com/velveteenensemble/miami2.png"), :class => "row" %>
    <% @abouts.each do |about| %>
        <p><%= about.bio %></p>
        <%= link_to 'Edit', edit_about_path(about) %>
    <% end %>
 
    
   <!--  <div id="pics">
      <div id="pic1" class="pics"></div>
      <div id="pic2" class="pics"></div>
      <div id="pic3" class="pics"></div>
      <div id="pic4" class="pics"></div>
      <div id="pic5" class="pics"></div>
      <div id="pic6" class="pics"></div>
      <div id="pic7" class="pics"></div>
      <div id="pic8" class="pics"></div>
    </div> -->
  </div>
</div>




