<div id="about" class="container-fluid no-gutters height">
  <div id="aboutbox" class="col-md-12 background">
    <div class="row no-gutters title">
      <div class="col-md-4">
        <a href="https://www.instagram.com/velveteenensemble/" target="_blank"><%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/blinsta.png")%></a>
        <a href="https://www.facebook.com/VelveteenEnsemble/" target="_blank"><%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/blfb.png")%></a>
        <a href="https://www.youtube.com/watch?v=Rtennabdzlc&t=21s" target="_blank"><%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/blyt2.png")%></a>
      </div>
      <div class="col-md-4">
        <a href="https://www.instagram.com/velveteenensemble/" target="_blank" class="center"><h2>About Us</h2></a>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <p>The Velveteen Ensemble will work with you to make your event a smashing success.  Our exclusive arranger and gifted musicians will ensure that the music played, performed, or recorded is of the utmost quality.  We have years of experience performing at the most acclaimed concert halls internationally, and have just returned from a five-week, twenty-concert series in <b>China</b>.</p>  
    </div>
    <div class="row">
      <%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/group.png"), :class => "img img1" %>
      <p id="p1">We also work with top Pop and Hip Hop artists such as <b>Migos</b>, luxury brands such as <b>Swarovski</b> for their event showcases, and television networks such as <b>HBO</b> and <b>Sony</b>. We have also produced music for hit TV shows, and have significant experience performing at hundreds of luxury weddings throughout New York City for high-end clientele and celebrities.  We also perform at more private and smaller functions, such as concerts tailored to any genre and music combination imaginable.  We regularly work and record music of contemporary composers globally.  Our ensemble is here to make unforgettable experiences for our clients.</p>
    </div>
    <div class="row">
      <p id="p2">Our ensemble is based in <b>New York City</b> and its members have received graduate degrees from the most prestigious Conservatories and are experts in performing and recording Classical, Pop and Jazz Genres. Our repertoire includes classical, Bollywood, Jewish, Broadway and Pop, though we can perform virtually any piece of any genre.  We cannot wait to be a part of your next event!</p>
      <%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/group2.png"), :class => "img img2" %>
    </div>
  </div>
</div>



