<title>Velveteen Ensemble About Page</title>
<div id="about" class="container-fluid height">
  <div id="aboutbox" class="col-md-12 background">
    <div class="row no-gutters title">
      <div class="col-md-4">
        <a href="https://www.instagram.com/velveteenensemble/" target="_blank"><%=image_tag image_url("https://d3ffc7oj6uo4uj.cloudfront.net/blinsta.png")%></a>
        <a href="https://www.facebook.com/VelveteenEnsemble/" target="_blank"><%=image_tag image_url("https://d3ffc7oj6uo4uj.cloudfront.net/blfb.png")%></a>
        <a href="https://www.youtube.com/watch?v=Rtennabdzlc&t=21s" target="_blank"><%=image_tag image_url("https://d3ffc7oj6uo4uj.cloudfront.net/blyt2.png")%></a>
      </div>
      <div class="col-md-4">
        <a href="https://www.instagram.com/velveteenensemble/" target="_blank" class="center"><h2>About Us</h2></a>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <p><%= @abouts.first.bio %></p>
          
        <% if admin_signed_in? %>
          <div class="edit">
            <%= link_to 'Edit', edit_about_path(1) %>
          </div>
        <% end %>

    </div>
    <div class="row">
      <%=image_tag image_url("https://d3ffc7oj6uo4uj.cloudfront.net/group.png"), :class => "img img1" %>
      <p id="p1"><%= @abouts.second.bio %></p>
          
        <% if admin_signed_in? %>
          <div class="edit">
            <%= link_to 'Edit', edit_about_path(2) %>
          </div>
        <% end %>
        
    </div>
    <div class="row">
      <p id="p2"><%= @abouts.third.bio %> <br><br>We cannot wait to be a part of your next event!</p>

       <% if admin_signed_in? %>
          <div class="editmobileshow">
            <div class="edit">
              <%= link_to 'Edit', edit_about_path(3) %>
            </div>
          </div>
        <% end %>
      
      <%=image_tag image_url("https://d3ffc7oj6uo4uj.cloudfront.net/group2.png"), :class => "img img2" %>

      <% if admin_signed_in? %>
        <div class="editmobilehide">
          <div class="edit">
            <%= link_to 'Edit', edit_about_path(3) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



