<%= form_for @email, :html => { :onsubmit => 'email'} do |f|  %>
  
  <div class="field emailname">
    <%= f.label :name %>
    <%= f.text_field :name, id: :email_name, :placeholder => 'Optional' %>
  </div>

  <div class="field">
    <% unless @homepage %>
      <%= f.label :email %>
    <% end %>
    <%= f.text_field :email, id: :email_email, :placeholder => 'Enter Email Address' %>
  </div>

  <div class="field nickname">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, id: :email_nickname %>
  </div>

  <div class="actions">
    <%= f.submit "Continue", :class => "mailsubmit" %>
  </div>
<% end %>
