
<div id="media" class="container-fluid height">
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-gutters insta">
		<div class="row background">
			<div class="row no-gutters title">
				
					<a href="https://www.instagram.com/velveteenensemble/" target="_blank"><h2><%=image_tag image_url("https://d3ffc7oj6uo4uj.cloudfront.net/blinsta.png")%>Instagram</h2></a>
			</div>

				<script>
	  			var feed = new Instafeed({
						target: "instafeed",
		        get: 'user',
		        userId: '<%= ENV['USER_ID'] %>',
		        accessToken: '<%= ENV['ACCESS_TOKEN'] %>',
		        clientId: '<%= ENV['CLIENT_ID'] %>',
		        sortBy: 'most-recent',
		        limit: 20,
		        resolution: 'standard_resolution',
		        template: '<div class="instabox col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 "><a href="{{link}}" target="_blank" class="eachinsta"><div class="instaimages"><img src="https://s3.amazonaws.com/velveteenensemble/videotag3.png" style="display: none" class="{{type}}tag"><img src="{{image}}" class="img"></div><div class="p"><p><em>{{caption}}</em></p><br></div><div class="p p2"><p>{{location}}</p></div></a></div>',
		        links: true,
	        mock: false,
	        useHttp: false
		    	});
				  feed.run();

				</script>

	    <div class="row" id="instafeed"></div>
	  </div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-gutters">
		<div class="row background">
  		<div class="row no-gutters title">
				<a href="https://www.youtube.com/channel/UCbvamEukwX1QzIJ6lNwjlIw" target="_blank"><h2><%=image_tag image_url("https://d3ffc7oj6uo4uj.cloudfront.net/blyt2.png")%>Youtube</h2></a>
			</div>




			<!-- Change col-sizes once you add in more youtube videos -->

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-gutters youtube">
				<!-- I would need the channel name in order to list out recent videos -->
		  	<!-- <iframe width="90%" height="auto" src="http://www.youtube.com/embed?max-results=1&controls=0&showinfo=0&rel=0&listType=user_uploads&list=MarcelKrasner" frameborder="10px" allowfullscreen></iframe>  -->
		  	<iframe width="90%" src="https://www.youtube.com/embed/Rtennabdzlc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		  	<iframe width="90%" src="https://www.youtube.com/embed/gxt8luAY63s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		  	<iframe width="90%" src="https://www.youtube.com/embed/sKY_T4uGJD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		  </div>
		</div>
	</div>
</div>


