
<div id="media" class="container-fluid height">
	<div class="row background">
		
		<div class="row no-gutters title">
			<div class="col-md-4">
				<a href="https://www.instagram.com/velveteenensemble/" target="_blank"><%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/blinsta.png")%></a>
				<a href="https://www.facebook.com/VelveteenEnsemble/" target="_blank"><%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/blfb.png")%></a>
				<a href="https://www.youtube.com/watch?v=Rtennabdzlc&t=21s" target="_blank"><%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/blyt2.png")%></a>
			</div>
			<div class="col-md-4">
				<a href="https://www.instagram.com/velveteenensemble/" target="_blank" class="center"><h1>Instagram</h1></a>
			</div>
			<div class="col-md-4"></div>
		</div>

			<script>
  			var feed = new Instafeed({
					target: "instafeed",
	        get: 'user',
	        userId: '<%= ENV['USER_ID'] %>',
	        accessToken: '<%= ENV['ACCESS_TOKEN'] %>',
	        clientId: '<%= ENV['CLIENT_ID'] %>',
	        sortBy: 'most-recent',
	        limit: 20,
	        resolution: 'standard_resolution',
	        template: '<a href="{{link}}" target="_blank"><div class="img" style="background-image:url({{image}})"></div></a>',
	        links: true,
        mock: false,
        useHttp: false
	    	});
			  feed.run();

			</script>



    <div class="col-md-12" id="instafeed"></div>

	</div>
</div>