<!DOCTYPE html>
<html>
  <head>
    <title>Velveteen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- jQuery library (served from Google) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- bxSlider Javascript file -->
    <script src="/js/jquery.bxslider.min.js"></script>
    <!-- bxSlider CSS file -->
    <link href="/lib/jquery.bxslider.css" rel="stylesheet" />
  </head>

  
  <body>

    <%= render '/layouts/header' %>

  	<div class="container-fluid">
    	<%= yield %>
  	</div>

    <%= render '/layouts/footer' %>

  </body>
</html>
